body {
  /*background-color: #efebe9;*/
  font: garamond;
}
h1 {
font-size: 30px;
}

h2 {
  font-size: 20px;
}

.code {
  background-color: white;
  width: 50%;
}

.indent1 {
  margin-left: 20px;
}

.indent2 {
  margin-left: 40px;
}

.codefont {
  font-family: arial;
}

section {
  background-color: white;
}

article {
  background-color: white;
}