html {
  background-image: url("../imgs/SFSkylineArt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  /*background-color: #efebe9;*/
  color: #464239;
  font: garamond;
}

.transbox {
  /*background-color: #312626;*/
  opacity: 1;
  padding: 1.5%;
}

.transbox h2 {
  opacity: 1;
  /*background-color: #312626;*/
  /*color: #AD9494;*/
  width: 100%;
  position: relative;
  font: Garamond;
}

header {
  /*background-color: #312626;*/
  border-bottom: solid grey 2px;
  border-top: solid grey 2px;
}

.indent {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #464239;
}

#link:hover {
  color: #DACBA7;
}

#link:link {
  color: #907272;
}

footer {
  background-color: #CAB9B9;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

nav {
  background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1%;
}

nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

nav li a {
    padding: 0 10px;
}

#content {
    border: 1px solid;
    clear: both;
    padding: 3%;
    background-color: white;
}

#selected {
    padding-bottom: 1px;
    background: gray;
    position: relative;
    top: 1px;
}

/*header li {
    background-color: #1a237e;
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 0 5px 0 0;
}
*/
h1 {
    margin: 0;
    padding: 0 0 10px 0;
}

.tabtext {
  color:white;
}

#top border {
  border:10px;
}



/*.tabs {
  width: 100%;
  display: inline-block;
}
.tab-links:after {
  display: block;
  clear: both;
  content:'';
}

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}

.tab-links a {
padding: 9px 15px;
display: inline-block;
border-radius: 3px 3px 0px 0px;
transition: all linear 0.15s;
}

.tab-content {

}

.tab {
  display: none;
}

.tab.active {
  diplay: block;
}*/

table {
  border: 1px solid;
  width: 90%;
  margin-left: 5%;

}

#main-table-title {
  margin: 1%;
}

.title-bar {
  background-color: black;
}

.data-title {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #CCCAD0;
  padding: 2%;
}

.data-body {
  background-color: white;
}

.tab-list li {
  display: inline-block;
  list-style-type: none;
}



.tab-panel.active {
  display: block;
}

.tab-panel {
  display: none;
  overflow: auto;
}