body {
  background-color: #efebe9;
}

header {
  background-color: #D0CACA;
  width: 100%;
  position: relative;
  padding: 1.5%;
}

.indent {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

#link:hover {
  color: #E80C7A;
}

#link:link {
  color: ##455a64;
}

footer {
  background-color: #D5CEE8;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1%;
}

nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

nav li a {
    padding: 0 10px;
}

#content {
    border: 1px solid;
    clear: both;
    padding: 3%;
}

#selected {
    padding-bottom: 1px;
    background: gray;
    position: relative;
    top: 1px;
}

/*header li {
    background-color: #1a237e;
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 0 5px 0 0;
}
*/
h1 {
    margin: 0;
    padding: 0 0 10px 0;
}

.tabtext {
  color:white;
}

#top border {
  border:10px;
}



/*.tabs {
  width: 100%;
  display: inline-block;
}
.tab-links:after {
  display: block;
  clear: both;
  content:'';
}

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}

.tab-links a {
padding: 9px 15px;
display: inline-block;
border-radius: 3px 3px 0px 0px;
transition: all linear 0.15s;
}

.tab-content {

}

.tab {
  display: none;
}

.tab.active {
  diplay: block;
}*/
